.see-more {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;

    p {
        font-size: 28px;
        font-weight: 100;
        margin-bottom: 20px;
    }
}

#blog-listing-big .post,
#blog-homepage .post {
    margin-bottom: 60px;
}

#blog-listing-big .post h2,
#blog-homepage .post h2,
#blog-listing-big .post h4,
#blog-homepage .post h4 {
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

#blog-listing-big .post h2 a,
#blog-homepage .post h2 a,
#blog-listing-big .post h4 a,
#blog-homepage .post h4 a {
    color: #555555;
}

#blog-listing-big .post h2 a:hover,
#blog-homepage .post h2 a:hover,
#blog-listing-big .post h4 a:hover,
#blog-homepage .post h4 a:hover {
    color: $main-color;
}

#blog-listing-big .post .author-category,
#blog-homepage .post .author-category {
    color: #999999;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08em;
}

#blog-listing-big .post .author-category a,
#blog-homepage .post .author-category a {
    font-weight: 500;
}

#blog-listing-big .post .date-comments a,
#blog-homepage .post .date-comments a {
    color: #999999;
    margin-right: 20px;
}

#blog-listing-big .post .date-comments a:hover,
#blog-homepage .post .date-comments a:hover {
    color: $main-color;
}

@media (min-width: 768px) {

    #blog-listing-big .post .date-comments,
    #blog-homepage .post .date-comments {
        text-align: right;
    }
}

#blog-listing-big .post .intro,
#blog-homepage .post .intro {
    text-align: left;
}

#blog-listing-big .post .image,
#blog-homepage .post .image {
    margin-bottom: 10px;
    overflow: hidden;
}

#blog-listing-big .post .image img,
#blog-homepage .post .image img {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (max-width: 767px) {

    #blog-listing-big .post .image img.img-responsive,
    #blog-homepage .post .image img.img-responsive {
        min-width: 100%;
    }
}

#blog-listing-big .post .video,
#blog-homepage .post .video {
    margin-bottom: 10px;
}

#blog-listing-big .post .read-more,
#blog-homepage .post .read-more {
    text-align: right;
}

#blog-listing-medium .post {
    margin-bottom: 60px;

    h2 {
        text-transform: uppercase;
        margin: 0 0 10px;
        font-size: 24px;
        letter-spacing: 0.08em;

        a {
            color: #555555;

            &:hover {
                color: $main-color;
            }
        }
    }

    .author-category {
        float: left;
        color: #999999;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.08em;

        a {
            font-weight: 500;
        }
    }

    .date-comments {
        float: right;
        font-size: 12px;

        a {
            color: #999999;
            margin-right: 20px;

            &:hover {
                color: $main-color;
            }
        }
    }

    .intro {
        text-align: left;
    }

    .clearfix {

        &:before,
        &:after {
            content: " ";
            display: table;
        }
    }

    .navbar {

        &:before,
        &:after {
            content: " ";
            display: table;
        }
    }

    .navbar-header {

        &:before,
        &:after {
            content: " ";
            display: table;
        }
    }

    .clearfix:after,
    .navbar:after,
    .navbar-header:after {
        clear: both;
    }

    .clearfix {

        &:before,
        &:after {
            content: " ";
            display: table;
        }
    }

    .navbar {

        &:before,
        &:after {
            content: " ";
            display: table;
        }
    }

    .navbar-header {

        &:before,
        &:after {
            content: " ";
            display: table;
        }
    }

    .clearfix:after,
    .navbar:after,
    .navbar-header:after {
        clear: both;
    }

    .image {
        margin-bottom: 10px;
        overflow: hidden;

        img {
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
    }

    .video {
        margin-bottom: 10px;
    }

    .read-more {
        text-align: right;
    }
}

@media (min-width: 768px) {
    #blog-listing-medium .post .date-comments {
        text-align: right;
    }
}

@media (max-width: 767px) {
    #blog-listing-medium .post .image img.img-responsive {
        min-width: 100%;
    }
}

.box-image-text.blog {
    .author-category {
        color: #999999;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: 300;
        font-size: 12px;

        a {
            font-weight: 500;
        }
    }

    .intro {
        text-align: left;
        margin-bottom: 20px;
    }
}

#blog-homepage .post {
    margin-bottom: 30px;

    h2,
    h4,
    .author-category {
        text-align: center;
    }

    .read-more {
        text-align: center;
        margin-top: 20px;
    }
}

#blog-post {
    #post-content {
        margin-bottom: 20px;
    }

    .comment {
        margin-bottom: 25px;

        &:before {
            content: " ";
            display: table;
        }

        &:after {
            content: " ";
            display: table;
            clear: both;
        }

        &:before {
            content: " ";
            display: table;
        }

        &:after {
            content: " ";
            display: table;
            clear: both;
        }

        .posted {
            color: #999999;
            font-size: 12px;
        }

        .reply {
            font-family: "Roboto", Helvetica, Arial, sans-serif;
        }

        &.last {
            margin-bottom: 0;
        }
    }

    #comments,
    #comment-form {
        padding: 20px 0;
        margin-top: 20px;
        border-top: solid 1px #eeeeee;
    }

    #comments:before,
    #comment-form:before,
    #comments:after,
    #comment-form:after {
        content: " ";
        display: table;
    }

    #comments:after,
    #comment-form:after {
        clear: both;
    }

    #comments:before,
    #comment-form:before,
    #comments:after,
    #comment-form:after {
        content: " ";
        display: table;
    }

    #comments:after,
    #comment-form:after {
        clear: both;
    }

    #comments h4 {
        margin-bottom: 20px;
    }

    #comment-form {
        h4 {
            margin-bottom: 20px;
        }

        margin-bottom: 20px;
    }
}

/* bootstrap overwrite */
.breadcrumb {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 0;
    text-align: right;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: none;
    letter-spacing: 0.08em;

    > {
        li+li:before {
            content: ">\00a0";
            color: #555555;
        }

        .active {
            color: #999999;
        }
    }
}

@media (max-width: 991px) {
    .breadcrumb {
        padding: 20px 0;
        text-align: center;
    }
}

/* pagination */

.pagination {
    margin: 20px 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    border-radius: 0;

    > {
        li> {

            a,
            span {
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: $main-color;
                background-color: #ffffff;
                border: 1px solid #dddddd;
            }

            a:hover,
            span:hover,
            a:focus,
            span:focus {
                color: $main-color;
                background-color: #bfe8df;
                border-color: #dddddd;
            }
        }

        .active> {

            a,
            span,
            a:hover,
            span:hover,
            a:focus,
            span:focus {
                z-index: 2;
                color: #ffffff;
                background-color: $main-color;
                border-color: $main-color;
            }
        }

        .disabled> {
            span {
                color: #999999;
                background-color: #ffffff;
                border-color: #dddddd;

                &:hover,
                &:focus {
                    color: #999999;
                    background-color: #ffffff;
                    border-color: #dddddd;
                }
            }

            a {
                color: #999999;
                background-color: #ffffff;
                border-color: #dddddd;

                &:hover,
                &:focus {
                    color: #999999;
                    background-color: #ffffff;
                    border-color: #dddddd;
                }
            }
        }
    }
}